<h1>Editando Material</h1>

<%= form_for(@material, url: admin_material_path(@material), html: {method: "patch"}) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> han prohibido guardar este material:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :price, 'Price USD' %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :precio, 'Precio CLP' %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :trabajo_id %><br>
      <%= collection_select(:material, :trabajo_id, Spree::Trabajo.all, :id, :nombre) %>
      <script src="multiple-select.js"></script>
              <script>
                  $("select").multipleSelect({
                      single: true,
                      multipleWidth: 55,
                      width: '100%'
                  });
              </script>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Mostar', admin_material_path(@material) %> |
<%= link_to 'Volver', admin_materials_path %>
