<%= form_for(@pedido, :html => {:multipart => true}) do |f| %>
   <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "errores") %> han prohibido crear este pedido:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div id="content" class='col-sm-12' data-hook>
        <div id="form-pedido" class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Realizar Pedido</h3>
            </div>
            <div id="existing-customer" class="panel-body" data-hook="login">
            <% if current_spree_user.roles_mask == 'userdigital' %>
            <div class="field">
              <b>Cargar STL: </b><%= f.file_field :file, value: "Seleccione Archivo STL" %><br> 
            </div>
            <%end%>
            <div class="form-group">
            <table>
              <thead>
                <%= f.label :nombre, '1.- Nombre del Paciente' %><br>
                <td>
                  <%= f.text_field :nombres, :class => 'form-control', :placeholder => 'Nombres' %>
                </td>
                <td>
                  <%= f.text_field :apellidos, :class => 'form-control', :placeholder => 'Apellidos' %>
                </td>
              </thead>
            </table>
            </div>
            <div class="form-group pull-right">
              <%= f.label :material_id, "3.- Seleccione Material" %><br>
              <%= f.grouped_collection_select :material_id, Spree::Trabajo.all, :materials, :nombre, :id, :nombre %>              
            </div>
            <div class="form-group">
              <%= f.label :trabajo_id, "2.- Seleccione Tipo de Trabajo" %><br>
              <%= f.grouped_collection_select :trabajo_id, Spree::Category.all, :trabajos, :nombre, :id, :nombre, include_blank: "Seleccione Trabajo", class: "form-control" %>   
            </div>
            <div class="form-group">
              <%= f.label :observacion, "4.- Indicar color de la restauraciones y observaciones adicionales" %><br>
              <%= f.text_area :observacion, size:"5x2", class: 'form-control', :placeholder => "Ingrese color de la restauraciones y observaciones adicionales" %>
            </div>
            <div class="field">
              <br><b>5.- Cargar fotografías de referencia (opcional)</b><%= file_field_tag "covers[]", type: :file, multiple: true %><br>
            </div>
            <div class="form-group">
              <table class="pull-center" id="dientes">
              <b>6.- Seleccione Diente(s)</b>
                <tbody>
                  <tr>
                    <td class="border_bottom">
                      <div class="relative">
                        <label>
                          <% @diente = Spree::Diente.find(8) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d18.png", size: "30x70" %>
                          <label class="text-center">1.8</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(7) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d17.png", size: "30x70" %>
                          <label class="text-center">1.7</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(6) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d16.png", size: "30x70" %>
                          <label class="text-center">1.6</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(5) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d15.png", size: "30x70" %>
                          <label class="text-center">1.5</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(4) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d14.png", size: "30x70" %>
                          <label class="text-center">1.4</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(3) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d13.png", size: "30x70" %>
                          <label class="text-center">1.3</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(2) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d12.png", size: "30x70" %>
                          <label class="text-center">1.2</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_right border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(1) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d11.png", size: "30x70" %>
                          <label class="text-center">1.1</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(9) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d21.png", size: "30x70" %>
                          <label class="text-center">2.1</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(10) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d22.png", size: "30x70" %>
                          <label class="text-center">2.2</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(11) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d23.png", size: "30x70" %>
                          <label class="text-center">2.3</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(12) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d24.png", size: "30x70" %>
                          <label class="text-center">2.4</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(13) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d25.png", size: "30x70" %>
                          <label class="text-center">2.5</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(14) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d26.png", size: "30x70" %>
                          <label class="text-center">2.6</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(15) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d27.png", size: "30x70" %>
                          <label class="text-center">2.7</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_bottom">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(16) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d28.png", size: "30x70" %>
                          <label class="text-center">2.8</label>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(32) %>
                          <%= check_box_tag "dientes[]", @diente.id %> 
                          <%= image_tag "dientes/d48.png", size: "30x70" %>
                          <label class="text-center">4.8</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(31) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d47.png", size: "30x70" %>
                          <label class="text-center">4.7</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(30) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d46.png", size: "30x70" %>
                          <label class="text-center">4.6</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(29) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d45.png", size: "30x70" %>
                          <label class="text-center">4.5</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(28) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d44.png", size: "30x70" %>
                          <label class="text-center">4.4</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(27) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d43.png", size: "30x70" %>
                          <label class="text-center">4.3</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(26) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d42.png", size: "30x70" %>
                          <label class="text-center">4.2</label>
                        </label>
                      </div>
                    </td>
                    <td class="border_right">
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(25) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d41.png", size: "30x70" %>
                          <label class="text-center">4.1</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(17) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d31.png", size: "30x70" %>
                          <label class="text-center">3.1</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(18) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d32.png", size: "30x70" %>
                          <label class="text-center">3.2</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(19) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d33.png", size: "30x70" %>
                          <label class="text-center">3.3</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(20) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d34.png", size: "30x70" %>
                          <label class="text-center">3.4</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(21) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d35.png", size: "30x70" %>
                          <label class="text-center">3.5</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(22) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d36.png", size: "30x70" %>
                          <label class="text-center">3.6</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(23) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d37.png", size: "30x70" %>
                          <label class="text-center">3.7</label>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div>
                        <label>
                          <% @diente = Spree::Diente.find(24) %>
                          <%= check_box_tag "dientes[]", @diente.id %>
                          <%= image_tag "dientes/d38.png", size: "30x70" %>
                          <label class="text-center">3.8</label>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>             
            </div><br>
            <div class="actions">
              <%= f.submit :class => "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>