<style type="text/css">
  #total.list-group-item{
    padding: 10px 15px;
    font-size: inherit;
  }  
</style>
<% if @pedidos.present? %>
  <h3>Mis Pedidos</h3>
  <% @pedidos.each do |pedido| %>
  <table class="table table-striped order-summary">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Trabajo</th>
        <th>Material</th>
        <th>Precio</th>
        <th align="right">Diente(s)</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= pedido.nombres %>&nbsp;<%= pedido.apellidos %></td>
          <td><%= pedido.trabajo.nombre %></td>
          <td><%= pedido.material.nombre %></td>
          <td>$<%= pedido.material.precio%></td>
          <% pedido.dientes.each do |diente| %>
            <td><%= diente.numero %></td>
          <% end %>
          <td align="right"><%= link_to 'Eliminar', pedido, method: :delete, class:"btn btn-danger", data: { confirm: '¿Esta seguro que desea Eliminar?' } %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <br>
  <li class="list-group-item" id="total">
    <div class="row">
      <div class="col-md-6"><b>Total a Pagar:</b></div>
      <div class="col-md-6">
        <p class="text-right">$<%=current_spree_user.costo_compra_pendientes%> CLP</p>
      </div>
    </div>
  </li>
  <br>
  <!--<div data-no-turbolinks class="pull-right">
    &nbsp;&nbsp;<%=link_to image_tag("https://s3.amazonaws.com/static.khipu.com/buttons/2015/200x75-transparent.png"), pedidos_khipu_path%>
  </div>
  <div data-no-turbolinks class="pull-right">
    <%=link_to 'Pagar', pedidos_pagar_path, class: "btn btn-info btn-lg" %>
  </div>-->
  <div data-no-turbolinks class="pull-right">
    <%=link_to(pedidos_comprar_path, class: "btn btn-info btn-lg") do%>
        Solicitar
    <%end%>
  </div>
<% end %>