<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>
<div id="content" class='col-sm-12' data-hook>
    <div id="form-pedido" class="col-md-6 col-md-offset-3">
	<% if @pedido.present? %>
		<h3>Pedidos Activos</h3>
		<% @pedido.each do |p| %>
		<table class="table table-striped order-summary">
		  <thead>
		    <tr>
		      <th>Nombre del Paciente</th>
		      <% if current_spree_user.dentists.present? %>
		      <th>Dentista</th>
		      <% end %>
		      <th>Trabajo</th>
		      <th>Material</th>
		      <th>Estado</th>
		      <th align="right">Diente(s)</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		      <tr>
		        <td><%= p.nombres %>&nbsp;<%= p.apellidos %></td>
		      	<% if current_spree_user.dentists.present? %>		        
		        <td><%= p.dentist.nombre %></td>
		        <% end %>
		        <td><%= p.trabajo.nombre %></td>
		        <td><%= p.material.nombre %></td>
		        <td><%= p.state %></td>
		        <% p.dientes.each do |diente| %>
		            <td><%= diente.numero %></td>
		        <% end %>
		        <td align="right"><%= link_to image_tag("4.png", size: "25"), show_activos_path(p), :title => "Ver" %></td>
		        <% if p.alerta? %>
		        <td align="right"><%= link_to image_tag("5.png", size: "25"), edit_pedido_path(p), :title => "Alerta",remote: true %></td>
		        <% end %>
		      </tr>
		  </tbody>
		</table>
		<% end %>
	<% end %>
		<%= paginate @pedido %>
		<% if !@pedido.present? %>
			<div class="alert alert-info"><%= "No tiene Pedidos Activos" %></div>
		<% end %>
	</div>
</div>